:host {
  font-size: 25vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  line-height: 0.2;
  color: beige;

  .dots {
    font-weight: 400;
  }

}