$primary:#7eb77f;
$second:#d6d5b3;
$base:#d6d5b3;


.timer {
  position: fixed;
  top: 40%;
  width: 100%;
  text-align: center;

  .buttons {
    width: 100%;
    
    button {
      cursor: pointer;
      font-size: 18px;
      letter-spacing: 2px;
      text-transform: uppercase;
      display: inline-block;
      text-align: center;
      width: 270px;
      font-weight: bold;
      padding: 14px 0px;
      border: 3px solid $base;
      border-radius: 2px;
      position: relative;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
      background-color: transparent;
      &:before {
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: '';
        background-color: $second;
        z-index: -2;
      }
      &:hover {
        &:before {
          -webkit-transition: 0.5s all ease;
          transition: 0.5s all ease;
          left: 0;
          right: 0;
          opacity: 1;
        }
      }
      &:focus {
        &:before {
          transition: 0.5s all ease;
          left: 0;
          right: 0;
          opacity: 1;
        }
      }
    }

    .start, .pause {
      color:#FFF;
      text-decoration:none;
      -webkit-transition:0.3s all ease;
      transition:0.3s ease all;
      
      &:hover {
        color: #FFF;
      }

      &:focus {
        color: #FFF;
      }

    }

    .restart {
      color: $second;
      text-decoration:none;
      -webkit-transition:0.3s all ease;
      transition:0.3s ease all;

      &:hover {
        color: #FFF;
      }

      &:focus {
        color: #FFF;
      }

    }

  }

  .timePicker {
    text-align: center;
    width: 100%;
    margin-top: 150px;

    .timeByUser {
      font-size: 10px;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: center;
      width: 135px;
      font-weight: bold;
      padding: 14px 0px;
      border: 1.5px solid $base;
      border-radius: 2px;
      position: relative;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
      background-color: rgba(214, 213, 179, 0.3);
      color: #FFF;
    }

    .timeInfo {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: $second;
      font-weight: 400;
    }
  }
}

@media (max-height: 680px) {
  .timer {
    top: 25%;
    
    .timePicker {
      margin-top: 100px;
    }

  }

}

@media (max-height: 500px) {
  .timer {
    top: 15%;

    .timePicker {
      margin-top: 80px;
    }

  }

}
