<app-progress [progress]="progress"></app-progress>
<div class="timer">
  <app-display [time]="countdown"></app-display>
  
  <div class="timePicker">
    <input type="text" pattern="[0-9]" class="timeByUser" (keyup)="setTimer($event)" #time placeholder="seconds">
    <p class="timeInfo">Just write your time in seconds and play.</p>
  </div>
  
  <div class="buttons">
    <button *ngIf="!timerService.paused" (click)="timerService.toggleCountdown()" class="start">START</button>
    <button *ngIf="timerService.paused" (click)="timerService.toggleCountdown()" class="pause">PAUSE</button>
    <button (click)="timerService.restartCountdown(time.value)" class="restart">RESTART</button>
  </div>

</div>

