*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, .h100 {
  height: 100%;
}

body {
  margin: 0;
}

.bgColor {
  background-color: #7eb77f;
}

button {
  border: 0;
  padding: 10px 30px;
  margin: 0;
}

